*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',Arial,sans-serif;
}


html{
scroll-behavior:smooth;
}


body{

background:#050b16;
color:white;

}


/* HEADER */

header{

position:fixed;
top:0;
width:100%;
height:80px;

display:flex;
justify-content:space-between;
align-items:center;

padding:0 8%;

background:rgba(5,11,22,0.90);

backdrop-filter:blur(10px);

z-index:1000;

border-bottom:1px solid rgba(0,174,255,.2);

}



.logo img{

width:75px;

}



nav a{

color:white;
text-decoration:none;

margin-left:30px;

font-size:16px;

transition:.3s;

}



nav a:hover{

color:#00aaff;

}




.menu{

display:none;

font-size:30px;

}





/* HERO */

.hero{

height:100vh;

display:flex;

align-items:center;

padding:0 8%;

background:

linear-gradient(
rgba(0,0,0,.65),
rgba(0,0,0,.8)
),

url("img/camara1.jpg");


background-size:cover;

background-position:center;


}



.hero-text{

max-width:650px;

animation:entrada 1.5s ease;

}



.hero h1{

font-size:48px;

line-height:1.2;

}



.hero h2{

font-size:55px;

color:#00aaff;

margin:15px 0;

}



.hero p{

font-size:20px;

line-height:1.6;

margin-bottom:35px;

}




.btn{

display:inline-block;

padding:15px 35px;

background:#00aaff;

color:white;

border-radius:40px;

text-decoration:none;

font-weight:bold;

transition:.4s;

}



.btn:hover{

background:#0080c9;

transform:translateY(-5px);

}







/* SECCIONES */


section{

padding:90px 8%;

}



.titulo{

text-align:center;

font-size:38px;

margin-bottom:50px;

color:#00aaff;

}






/* SERVICIOS */


.cards{

display:flex;

gap:30px;

justify-content:center;

flex-wrap:wrap;

}



.card{

background:#0c1728;

padding:35px;

width:300px;

border-radius:20px;

text-align:center;

transition:.4s;

border:1px solid rgba(0,170,255,.15);

}



.card:hover{

transform:translateY(-15px);

box-shadow:0 15px 40px rgba(0,170,255,.25);

}



.card i{

font-size:45px;

color:#00aaff;

margin-bottom:20px;

}



.card h3{

font-size:24px;

margin-bottom:15px;

}



.card p{

color:#cbd5e1;

line-height:1.6;

}






/* NOSOTROS */


#nosotros{

background:#081321;

}



.about{

text-align:center;

}



.about h2{

font-size:38px;

color:#00aaff;

}



.about p{

font-size:20px;

margin:25px auto;

max-width:700px;

line-height:1.7;

}




.numbers{

display:flex;

justify-content:center;

gap:50px;

margin-top:40px;

flex-wrap:wrap;

}



.numbers div{

background:#0c1728;

padding:25px 40px;

border-radius:15px;

}



.numbers strong{

display:block;

font-size:45px;

color:#00aaff;

}



.numbers span{

color:#ddd;

}





/* GALERIA */


.gallery{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:20px;

}



.gallery img{

width:100%;

height:230px;

object-fit:cover;

border-radius:20px;

transition:.4s;

}



.gallery img:hover{

transform:scale(1.05);

}





/* CONTACTO */


#contacto{

text-align:center;

background:#0c1728;

}



#contacto h2{

font-size:40px;

color:#00aaff;

margin-bottom:20px;

}



#contacto p{

font-size:20px;

margin-bottom:30px;

}







footer{

padding:25px;

text-align:center;

background:#02060c;

color:#aaa;

}






/* ANIMACION */


@keyframes entrada{

from{

opacity:0;

transform:translateY(40px);

}


to{

opacity:1;

transform:translateY(0);

}

}







/* CELULARES */


@media(max-width:768px){



nav{

display:none;

position:absolute;

top:80px;

left:0;

width:100%;

background:#050b16;

padding:20px;

}

nav.activo{

display:block;

}

nav a{

display:block;

margin:20px;

}



.menu{

display:block;

}



.hero h1{

font-size:35px;

}


.hero h2{

font-size:42px;

}



.hero p{

font-size:17px;

}



.gallery{

grid-template-columns:1fr;

}


}
/* WHATSAPP FLOTANTE */


.whatsapp{

position:fixed;

right:25px;

bottom:25px;

width:65px;

height:65px;

background:#25d366;

color:white;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

font-size:35px;

text-decoration:none;

z-index:999;

animation:pulso 2s infinite;

}



@keyframes pulso{


0%{

transform:scale(1);

}


50%{

transform:scale(1.12);

}


100%{

transform:scale(1);

}


}






/* CONFIANZA */


.confianza{

background:#050b16;

text-align:center;

}



.confianza-grid{

display:flex;

justify-content:center;

gap:30px;

flex-wrap:wrap;

}



.confianza-grid div{

width:280px;

padding:30px;

background:#0c1728;

border-radius:20px;

}



.confianza-grid i{

font-size:45px;

color:#00aaff;

margin-bottom:20px;

}



.confianza-grid p{

color:#ccc;

line-height:1.6;

}






/* FAQ */


.faq{

background:#081321;

}



.pregunta{

max-width:800px;

margin:20px auto;

padding:25px;

background:#0c1728;

border-radius:15px;

}



.pregunta h3{

color:#00aaff;

margin-bottom:10px;

}



.pregunta p{

color:#ddd;

}
/* ESTADISTICAS */


.estadisticas{

background:#02060c;

}



.stats-box{

display:flex;

justify-content:center;

gap:30px;

flex-wrap:wrap;

}



.stats-box div{

background:#0c1728;

width:220px;

padding:35px;

text-align:center;

border-radius:20px;

}



.stats-box i{

font-size:40px;

color:#00aaff;

}



.stats-box strong{

display:block;

font-size:45px;

color:white;

margin:15px;

}



.stats-box p{

color:#ccc;

}





/* MARCAS */


.marcas{

text-align:center;

}



.marca-grid{

display:flex;

justify-content:center;

gap:25px;

flex-wrap:wrap;

}



.marca-grid div{

padding:25px 40px;

background:#0c1728;

border-radius:15px;

font-size:22px;

font-weight:bold;

color:#00aaff;

}






/* FORMULARIO */


form{

max-width:600px;

margin:30px auto;

display:flex;

flex-direction:column;

gap:15px;

}



form input,
form textarea{


padding:15px;

border:none;

border-radius:10px;

background:#162235;

color:white;

font-size:16px;

}



form textarea{

height:130px;

resize:none;

}



form button{

border:none;

cursor:pointer;

}
/* LOADER */


.loader{

position:fixed;

top:0;

left:0;

width:100%;

height:100vh;

background:#02060c;

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

z-index:9999;

animation:salida 2.5s forwards;

}



.loader img{

width:120px;

animation:logoAnim 1.5s infinite;

}



.loader h2{

color:#00aaff;

font-size:40px;

margin-top:20px;

}



.loader p{

color:white;

}



@keyframes logoAnim{


50%{

transform:scale(1.1);

}


}




@keyframes salida{


0%,80%{

opacity:1;

visibility:visible;

}


100%{

opacity:0;

visibility:hidden;

}

}






/* BOTON LLAMADA */


.telefono{

position:fixed;

right:25px;

bottom:100px;

width:60px;

height:60px;

background:#008cff;

color:white;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

font-size:28px;

text-decoration:none;

z-index:999;

animation:pulso 2s infinite;

}
/* VIDEO HERO */


.hero{

position:relative;

overflow:hidden;

}



.video-bg{

position:absolute;

top:0;

left:0;

width:100%;

height:100%;

object-fit:cover;

z-index:-2;

}



.overlay{

position:absolute;

top:0;

left:0;

width:100%;

height:100%;

background:rgba(0,0,0,.65);

z-index:-1;

}
/* SLIDER */


.slider{

display:flex;

gap:25px;

overflow:hidden;

animation:movimiento 20s linear infinite;

}



.slide img{

width:300px;

height:220px;

object-fit:cover;

border-radius:20px;

}



@keyframes movimiento{


from{

transform:translateX(0);

}


to{

transform:translateX(-600px);

}

}





/* TESTIMONIOS */


.testimonios{

background:#081321;

}



.test-grid{

display:flex;

justify-content:center;

gap:30px;

flex-wrap:wrap;

}



.test-grid div{

background:#0c1728;

padding:30px;

border-radius:20px;

width:300px;

}



.test-grid p{

font-style:italic;

color:#ddd;

line-height:1.6;

}



.test-grid strong{

display:block;

color:#00aaff;

margin-top:20px;

}
